/* #region Common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}


:root {
    --bol-header:#ff6900 ;
    --bol-footer: #1a1a1a;
    --bol-green: #008000;
    --bol-red: #ff0000; 
    --bol-white: white;   
  }
/* #endregion Common */

/* #region Utility */

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
}

.col-4 {
    width: calc(100% / 12 * 4);
    text-align: center;
    padding: 1rem 1rem;

}

.img_size{
    width: 100%;
}

/* #endregion Utility */


/* #region Header */
header{
    background-color: var(--bol-header);
    box-shadow: 2px;
    color: var(--bol-white) ;
}

.logo{
    width: 30%;
}

/* #endregion Header */